<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <img src="/assets/logo.png" class="image" width="612" height="68">
      <!-- <h1 class="title">
        Rick and Morty
      </h1> -->
      <h1 class="title">
        Database.
      </h1>
    </div>
  </div>
</section>

<div class="container is-fluid margin-top">

    <nav class="panel">
        <p class="panel-heading">
          Request Log
        </p>
        
        
        <a *ngFor="let log of logs" class="panel-block is-active" >
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            <b>Date:  </b>
            {{ log.date | json}},
            <b>Url:  </b>
            {{log.url_consulted | json}},
            <b>Status:  </b>
            {{log.status | json}},
            <b>Method:  </b>
            {{log.method | json}}
        </a>
        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth" (click)="ngOnInit()">
                
              <p ngFor="let log of logs" *ngIf="!logs">Click some data first!</p>
              <p ngFor="let log of logs" *ngIf="logs">Get logs</p>
            </button>
          </div>
        </nav>

  <div class="columns">
    <div class="column is-4">
        <article class="tile is-child notification is-link">
          <p class="title">Rick and Morty characters</p>
        </article>
        <app-characterlist></app-characterlist>
    </div>
    <div class="column is-4">
      <article class="tile is-child notification is-warning">
        <p class="title">Rick and Morty locations.</p>
      </article>
      <app-location-list></app-location-list>
    </div>
    
    <div class="column is-4">
      <article class="tile is-child notification is-warning">
        <p class="title">Rick and Morty episodes.</p>
      </article>
      <app-episodelist></app-episodelist>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Rick And Morty DB</strong> by <a href="#">Manuel Munguia</a>.
    </p>
  </div>
</footer>

